.upload-button {
  background-color: #ff6600; /* Orange */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-button:hover {
  background-color: #e05500; /* Darker orange */
}
